extends layout

block content

    link(rel='stylesheet', href='/datepicker/css/bootstrap-datepicker.min.css')
    script(src='/datepicker/js/bootstrap-datepicker.min.js')
    script.
        var allDomains = !{JSON.stringify(domains)};
        var allCampaigns = !{JSON.stringify(campaigns)};
    script(src='/javascripts/common.js')
    script(src='/javascripts/slinky-links.js')

    div.container
        h3(class='text-center') Add Link
        div.form-group
            label(for='domain') Domain
            input(class='form-control' id='domain')
        div.form-group
            label(for='campaign') Campaign
            select(class='form-control' id='campaign')
                option(value='' selected='true') 
        div.form-group
            label(for='link-type') Link Type
            select(class='form-control' id='link-type')
        div.form-group
            label(for='destination-url') Destination URL
            input(class='form-control' id='destination-url' placeholder='http://www.example.com')
        div.form-group
            label(for='link-url') Link URL
            input(class='form-control' id='link-url' placeholder='http://www.example.com')
        div.form-group
            label(for='anchor-text') Anchor Text
            input(class='form-control' id='anchor-text')
        div.form-group
            label(for='link-live-date') Link Live Date
            div(class='input-group date' data-provide='datepicker' data-date-format='yyyy-mm-dd')
                input(class='form-control' id='link-live-date' readonly='readonly')
                div(class='input-group-addon')
                    span(class='glyphicon glyphicon-calendar')
        div(class='form-group text-center')
            button(class='btn btn-primary' id='submit-btn') Submit
            span &nbsp;
            button(class='btn btn-default' id='reset-btn') Reset
